<!DOCTYPE html>
<html lang="en">

<head>
	@{
        Layout = null;
	 }
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Login - Sign-Up</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Main CSS File -->
	<link href="~/assets/css/main.css" rel="stylesheet">
	<link href="~/style.css" rel="stylesheet">

</head>

<body class="service-details-page">

	<header id="header" class="header d-flex align-items-center fixed-top">
		<div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

			<a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
				<!-- Uncomment the line below if you also wish to use an image logo -->
				<!-- <img src="assets/img/logo.png" alt=""> -->
				<h1>AOUN</h1>
			</a>

			<nav id="navmenu" class="navmenu">
				<ul>
					<li><a href="#hero" class="active">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#features">Features</a></li>
					<li><a href="#services">Services</a></li>
					<li class="dropdown">
						<a href="#"><span>Donation opportunities</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
						<ul>
							<li><a href="#">charity</a></li>
							<li class="dropdown">
								<a href="#"><span>Zakat</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
								<ul>
									<li><a href="#">Zakat Calculator</a></li>
								</ul>
							</li>
							<li><a href="#">Kaffarah</a></li>
							<li><a href="#">Al'Naam</a></li>
							<li><a href="#">Orphan</a></li>
						</ul>
					</li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
			</nav>

		</div>
	</header>
	<div id="container" class="container">
		<!-- FORM SECTION -->
		<div class="row">
			<!-- SIGN UP -->
			<form asp-area="" asp-controller="Account" asp-action="Register" method="post" class="col align-items-center flex-col sign-up">
				<div class="form-wrapper align-items-center">
					<div class="form sign-up">
						<div class="input-group">
							<i class='bx bxs-user'></i>
							<input name="UserName" type="text" placeholder="User Name">
						</div>
						<div class="input-group">
							<i class='bx bx-mail-send'></i>
							<input name="Email" type="email" placeholder="Email">
						</div>
						<div class="input-group">
							<i class='bx bxs-lock-alt'></i>
							<input name="Password" type="password" placeholder="Password">
						</div>
						<div class="input-group">
							<i class='bx bxs-lock-alt'></i>
							<input name="ConfirmPassword" type="password" placeholder="Confirm Password">
						</div>
						<button type="submit">
							Sign up
						</button>
						<p>
							<span>
								Already have an account?
							</span>
							<b onclick="toggle()" class="pointer">
								Sign in here
							</b>
						</p>
					</div>
				</div>

			</form>
			<!-- END SIGN UP -->
			<!-- SIGN IN -->
			<form asp-area="" asp-controller="Account" asp-action="Login" method="post" class="col align-items-center flex-col sign-in">
				<div class="form-wrapper align-items-center">
					<div class="form sign-in">
						<div class="input-group">
							<i class='bx bxs-user'></i>
							<input name="Email" type="text" placeholder="Email">
						</div>
						<div class="input-group">
							<i class='bx bxs-lock-alt'></i>
							<input name="Password" type="password" placeholder="Password">
						</div>
						@* <div class="input-group"> *@
						@* 	<i class='bx bxs-lock-alt'></i> *@
						@* 	<label for="RememberMe"> Remember Me ?</label> *@
						@* 	<input name="RememberMe" type="checkbox"> *@
						@* </div> *@
						<button type="submit">
							Sign in
						</button>
						<p>
							<a href="#">
								Forgot password?
							</a>
						</p>
						<p>
							<span>
								Don't have an account?
							</span>
							<b onclick="toggle()" class="pointer">
								Sign up here
							</b>
						</p>
					</div>
				</div>
				<div class="form-wrapper">
				</div>
			</form>
			<!-- END SIGN IN -->
		</div>
		<!-- END FORM SECTION -->
		<!-- CONTENT SECTION -->
		<div class="row content-row">
			<!-- SIGN IN CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="text sign-in">
					<h2>
						Welcome
					</h2>

				</div>
				<div class="img sign-in">
				</div>
			</div>
			<!-- END SIGN IN CONTENT -->
			<!-- SIGN UP CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="img sign-up">
				</div>
				<div class="text sign-up">
					<h2>
						Join with us
					</h2>

				</div>
			</div>
			<!-- END SIGN UP CONTENT -->
		</div>
		<!-- END CONTENT SECTION -->
	</div>

	<footer id="footer" class="footer">

		<div class="container footer-top">
			<div class="row gy-4">
				<div class="col-lg-4 col-md-6 footer-about">
					<a href="index.html" class="logo d-flex align-items-center">
						<span class="sitename">Aoun</span>
					</a>
					<div class="footer-contact pt-3">
						<p>A108 Adam Street</p>
						<p>New York, NY 535022</p>
						<p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
						<p><strong>Email:</strong> <span>info@example.com</span></p>
					</div>
					<div class="social-links d-flex mt-4">
						<a href=""><i class="bi bi-twitter-x"></i></a>
						<a href=""><i class="bi bi-facebook"></i></a>
						<a href=""><i class="bi bi-instagram"></i></a>
						<a href=""><i class="bi bi-linkedin"></i></a>
					</div>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Terms of service</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">Product Management</a></li>
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Graphic Design</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Hic solutasetp</h4>
					<ul>
						<li><a href="#">Molestiae accusamus iure</a></li>
						<li><a href="#">Excepturi dignissimos</a></li>
						<li><a href="#">Suscipit distinctio</a></li>
						<li><a href="#">Dilecta</a></li>
						<li><a href="#">Sit quas consectetur</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Nobis illum</h4>
					<ul>
						<li><a href="#">Ipsam</a></li>
						<li><a href="#">Laudantium dolorum</a></li>
						<li><a href="#">Dinera</a></li>
						<li><a href="#">Trodelas</a></li>
						<li><a href="#">Flexo</a></li>
					</ul>
				</div>

			</div>
		</div>

		<div class="container copyright text-center mt-4">
			<p>© <span>Copyright</span> <strong class="px-1 sitename">Aoun</strong> <span>All Rights Reserved</span></p>
			<div class="credits">
				Designed by <a href="#">DEPI Team</a>
			</div>
		</div>

	</footer>

	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->

	<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/vendor/php-email-form/validate.js"></script>
	<script src="~/assets/vendor/aos/aos.js"></script>
	<script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="~/main.js"></script>

	<!-- Main JS File -->
	<script src="~/assets/js/main.js"></script>

</body>

</html>